*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: sans-serif;
}

h1{
    font-size: 250%;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
}


article{
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
}

figure{
    margin-bottom: 40px;
}

img{
    width: 100%;
    border-radius: 100px;
}

p{
    float: right;
    width: 50%;
}

figcaption{
    font-size: 80%;
    font-style: italic;
}

audio{
    display:block;
    margin-top:20px;
}

video{
    width:100%;
    margin-bottom: 20px;
}